
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&family=Tektur:wght@400..900&family=VT323&display=swap');
body {
  background-color: #050A30	;
  margin: 0;
  padding-bottom: 60px;
  color:aliceblue;
  font-family: "Silkscreen", sans-serif;
  height: 1200px;
  position: relative;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 725px;
    justify-content: center;
    align-items: center;
    gap: 5px;
  
    
}

.square {  
    background-color: rgb(216, 232, 237);
    width: 31%;
    aspect-ratio: 1/1;
    border: 6px solid rgb(255, 174, 0);
    border-radius: 10px;
    font-size: 64px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

#content {
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.innerSquare{
    width:72px;
    height: 72px;
    border: 1px solid black;
    /* font-size: 64px; */
    text-align: center;
    margin:0;
    color:#050A30;
   

}
#resetButton{
    margin:40px;
    padding: 20px 30px;
    font-family: "Tektur", sans-serif;
    font-weight: 700;
    font-size: x-large;
}
#message-box{
    background-color: white;
    color:black;
    border: 2px solid #050A30;
    position: absolute;
    padding: 20px;
    z-index: 10;
    width: 600px;
    font-size:20px;
    top:10%;
}
.hide{
    visibility: hidden;
}
#close{
    background-color: white;
    border: white;
    font-size: large;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.change{
    color:#050A30;
    /* font-size: 150px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}



