@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

body {
  background-color: #02013d;
  margin: 0;
  padding-bottom: 60px;
  color:aliceblue;
  font-family: "Tektur", sans-serif;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 725px;
    justify-content: center;
    align-items: center;
    gap: 5px;
  
    
}

.square {  
    background-color: rgb(216, 232, 237);
    width: 31%;
    aspect-ratio: 1/1;
    border: 6px solid rgb(255, 174, 0);
    border-radius: 10px;
    font-size: 64px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

#content {
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.innerSquare{
    width:72px;
    height: 72px;
    border: 1px solid black;
    /* font-size: 64px; */
    text-align: center;
    margin:0;
   

}